@tailwind base;
@tailwind components;
@tailwind utilities;

.shine-text {
    position: relative;
    background: linear-gradient(to right,
            #b2a3a3 0%,
            #847878 20%,
            #000000 40%,
            #ff0000 60%,
            #b2a3a3 100%);
    background-size: 200% auto;
    color: #b2a3a3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}